<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.model.modelTransformation.mapper.UserMapper">

    <insert id="addUser" parameterType="com.model.modelTransformation.entity.User">
        INSERT INTO `user` VALUES(#{username},#{password},#{phone})
    </insert>
    <select id="queryByUsername" resultType="com.model.modelTransformation.entity.User">
        SELECT * FROM `user` WHERE username = #{username}
    </select >
    
    <select id="findPages" resultType="com.model.modelTransformation.entity.User">

    </select>
</mapper>
